@model List<Vidly.Models.Movie>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Movies</h2>

<table class="table">
<thead>
    <tr>
        <th>Movies</th>
        <th>Genre</th>
    </tr>
</thead>
<tbody>
    @foreach (var movies in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details","Movies", new {id = movies.Id })">
                    <div>
                        @movies.Name
                    </div>
                </a>
            </td>
            <td>@movies.Genre.Name</td>
        </tr>
    }
</tbody>
</table>